<div class="container">
    <div class="row">
        <div class="col-12 mt-6">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand text-left" href="javascript:;">
                    <h2>Shopping Cart</h2>
                </a>
                <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo"><i class="fa fa-shopping-cart mr-0 mt-2" aria-hidden="true"></i>Buy
                    Now</button>
            </nav>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Product Name</label>
                        <input type="text" class="form-control" id="product-name" formControlName="pName">
                        <span
                            *ngIf="!productForm.get('pName').valid && productForm.get('pName').touched && productForm.get('pName').errors.required"
                            class="text-danger">
                            *Product Name is required
                        </span>

                    </div>
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Product Brand</label>
                        <input type="text" class="form-control" id="product-name" formControlName="pName">
                        <span
                            *ngIf="!productForm.get('pName').valid && productForm.get('pName').touched && productForm.get('pName').errors.required"
                            class="text-danger">
                            *Product Name is required
                        </span>

                    </div>
                    <div class="form-group">
                        <label for="product-price" class="col-form-label">Quantity</label>
                        <input type="number" class="form-control" id="product-price" formControlName="pPrice">
                        <span
                            *ngIf="!productForm.get('pQty').valid && productForm.get('pQty').touched && productForm.get('pPrice').errors.required"
                            class="text-danger">
                            *Product Name is required
                        </span>

                    </div>

                    <div class="form-group">
                        <label for="product-price" class="col-form-label">Price</label>
                        <input type="number" class="form-control" id="product-price" formControlName="pPrice">
                        <span
                            *ngIf="!productForm.get('pPrice').valid && productForm.get('pPrice').touched && productForm.get('pPrice').errors.required"
                            class="text-danger">
                            *Product price is required
                        </span>

                    </div>
                    
                    <div class="form-group">
                        <label for="product-image" class="col-form-label">Upload Image</label><br>
                        <input type="file" class="form-control" id="product-image" formControlName="pImg"
                            (change)="onSelectFile($event)">
                        <span
                            *ngIf="!productForm.get('pImg').valid && productForm.get('pImg').touched && productForm.get('pImg').errors.required"
                            class="text-danger">
                            *Product image is required
                        </span>
                        <span *ngIf="validImgSize" class="text-primary">
                            {{ validImgSize }}
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Contact Us-9423659680</label>
                        

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 text-center checkout">
                        <button class="btn btn-primary btn-block">Checkout</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of listData">
            <div class="card col-md-3">
                <img [src]="item.pImg" alt="product1" class="w-100">
                <h5>{{item.pName}}</h5>
                <p><strong>Price: </strong><i class="fa fa-inr" aria-hidden="true"></i> {{item.pPrice}}</p>
                <div class="input-group">
                    <span>
                        <button type="button" class="btn btn-outline-secondary btn-number" (click)="dec(item)">
                            <span class="fa fa-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control input-number text-center" [value]="item.pQty">
                    <span>
                        <button type="button" class="btn btn-outline-secondary btn-number" (click)="inc(item)">
                            <span class="fa fa-plus"></span>
                        </button>
                    </span>
                </div>
                <button class="btn btn-primary" (click)="AddToBag(item)">Add to Bag</button>
            </div>
        </ng-container>
    </div>
</div>